<!---header-->

<header class="header" data-header>
    <div class="container">
        <ul class="top-nav">
            <li><a href="">Thăm dò ý kiến khách hàng</a></li>
            <li>|</li>
            <li><a href="">Câu hỏi thường gặp</a></li>
            <li>|</li>
            <li><a href="">Liên hệ</a></li>
            <li>|</li>
            <li><a href="">Tuyển dụng</a></li>
            <li>|</li>
            <li>
                <div class="social-pc">
                    <div class="b-social" id="bth-social-pc">
                        <div class="btn-social">
                            <img src="https://www.honda.com.vn/images/social/ico-facebook-red.png">
                            <img src="https://www.honda.com.vn/images/social/ico-ig-red.png">
                            <img src="https://www.honda.com.vn/images/social/ico-youtube-red.png">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <nav class="navbar" data-navbar [ngClass]="status ? 'active' : ''">


            <a href="#" class="logo">
                <img src="assets/images/logohieploi.png" alt="logo">
            </a>


            <ul class="navbar-list">
                <li class="navbar-item">
                    <a href="#" class="nav-link">Home</a>
                </li>
                <li class="navbar-item">
                    <a href="#" class="nav-link">About</a>
                </li>
                <li class="navbar-item">
                    <a href="#" class="nav-link">Products</a>
                </li>
                <li class="navbar-item">
                    <a href="#" class="nav-link">Shop</a>
                </li>
                <li class="navbar-item">
                    <a href="#" class="nav-link">Blog</a>
                </li>
                <li class="navbar-item">
                    <a href="#" class="nav-link">Contact</a>
                </li>
            </ul>
            <!-- <ul class="nav-action-list">

              <li>
                  <button class="nav-action-btn">
              <ion-icon name="search-outline" aria-hidden="true"></ion-icon>

              <span class="nav-action-text">Search</span>
            </button>
              </li>

              <li>
                  <a href="#" class="nav-action-btn">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <span class="nav-action-text">Login / Register</span>
                  </a>
              </li>

              <li>
                  <button class="nav-action-btn">
              <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>

              <span class="nav-action-text">Wishlist</span>

              <data class="nav-action-badge" value="5" aria-hidden="true">5</data>
            </button>
              </li>

              <li>
                  <button class="nav-action-btn">
              <ion-icon name="bag-outline" aria-hidden="true"></ion-icon>

              <data class="nav-action-text" value="318.00">Basket: <strong>$318.00</strong></data>

              <data class="nav-action-badge" value="4" aria-hidden="true">4</data>
            </button>
              </li>

          </ul> -->
        </nav>
    </div>
</header>
